body {
  padding-top: 60px;
}

#editor {
  height: 100px;
  width: 400px;
}

.topics-outline {
  position: absolute;
  top: 50px;
  width: 300px;
  z-index: 1000;
}
.topics-outline .list-group-item {
  background-color: #f8f8f8;
}
.topics-outline a {
  color: #333;
}
.topic-level-1 {
  font-weight: bold;
}
.topic-level-2 {
  font-weight: bold;
  padding-left: 20px;
}
.topic-level-3 {
  padding-left: 30px;
}

.display-previous,
.display-next {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 40px;
  font-weight: bold;
  font-size: 125%;
  cursor: pointer;
  color: transparent;
}
.display-previous i,
.display-next i {
  position: fixed;
  top: 55%;
}
.display-previous {
  left: 0;
}
.display-previous i {
  left: 15px;
}
.display-next {
  right: 0;
}
.display-next i {
  right: 15px;
}
.display-previous:hover,
.display-next:hover {
  background-color: rgba(0, 0, 0, .25);
  color: #666;
}

#settings-modal div.form-group {
  width: 90%;
}

.code-toolbar {
  padding-left: 10px;
}
.code-toolbar .btn {
  min-width: 45px;
}

.alert-muted {
  background-color: #eeeeee;
  border-color: #dcdcdc;
  color: #666666;
  text-shadow: none;
}
.alert-muted h1,
.alert-muted h2,
.alert-muted h3,
.alert-muted h4 {
  color: #666666;
  text-shadow: none;
}

.full-width {
  position: absolute;
  left: 0;
  right: 0;
}

/* steal a few things to demonstrate Bootstrap functionality*/
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}
.is-hidden {
  color: #ccc;
}
.is-visible {
  color: #468847;
}

/* TODO - move to bootswatch */
.navbar-brand {
  max-width: 500px;
}

