#editor {
  height: 100px;
  width: 400px;
}

.display-previous,
.display-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  text-align: center;
  padding-top: 40%;
  font-weight: bold;
  font-size: 125%;
  cursor: pointer;
  color: transparent;
}
.display-previous {
  left: 0;
}
.display-next {
  right: 0;
}
.display-previous:hover,
.display-next:hover {
  background-color: rgba(0, 0, 0, .25);
  color: #666;
}

.code-toolbar {
  padding-left: 10px;
}

.full-width {
  position: absolute;
  left: 0;
  right: 0;
}

.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}
